body{
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 

}

.leaflet-container {
    width: 550px;
    height: 350px;
  }